{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body
    %}
    <br>
    <h3 style="text-align:left">WELCOME PAGE</h3>
    <div>
        <br>
        <p style="font-size: large">
            Hello and welcome to the bug tracker application for Mike and Anindit's Discord Bot.
            If you would like to report a given bug, please go to the navigation bar up top and click, "Enter Bug Request" 
            and fill in the given information. If you are an administrator, please log on using the log in system.
        </p> 
    </div>
    <div>
        <a href="/sign-up">
            <button type="button" href="/sign-up" class="btn btn-success">Administrator Application</button>
        </a>
        <br>
        <br>
        <a href="/bugticket">
            <button type="button" class="btn btn-warning">Report a Bug Ticket</button>
        </a> 
        <br>
        <br>
        <a href="/login">
            <button type="button" class="btn btn-primary">Administrator Log-In</button>
        </a>
        
    </div>
    <br>
    <p>© Anindit Dewan 2022</p>
    
    {% endblock %}
    
     